<div>
  <%= @player1.name %> vs <%= @player2.name %></br>

  <%= $game.opponent.name %> Hitpoints: <%= $game.opponent.hp %></br>

    <form action="/attack">
      <input type="submit" value="Attack">
    </form>
    <form action='/switch'>
      <input type="submit" value="Switch">
    </form>
</div>
